<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>{{title}}</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}assets/images/favicons2/apple-touch-icon-57x57.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}assets/images/favicons2/apple-touch-icon-114x114.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}assets/images/favicons2/apple-touch-icon-72x72.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}assets/images/favicons2/apple-touch-icon-144x144.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{root}}assets/images/favicons2/apple-touch-icon-60x60.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}assets/images/favicons2/apple-touch-icon-120x120.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{root}}assets/images/favicons2/apple-touch-icon-76x76.png"
    />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}assets/images/favicons2/apple-touch-icon-152x152.png"
    />
    <link rel="icon" type="image/png" href="{{root}}assets/images/favicons2/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{root}}assets/images/favicons2/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{root}}assets/images/favicons2/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{root}}assets/images/favicons2/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{root}}assets/images/favicons2/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="{{root}}assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{{root}}assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="{{root}}assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{root}}assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="{{root}}assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="{{root}}assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{root}}assets/lib/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet">
    <link href="{{root}}assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="{{root}}assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <link href="https://www.jsdelivr.com/package/npm/jquery.mb.ytplayer" rel="text/html">
    <!-- Main stylesheet and color file-->
    <link href="{{root}}assets/css/app.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <!-- Free Note Modal -->
        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Where can we send your FREE SAMPLE?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="form34" class="form-control validate" placeholder="Your Name">
                            <label data-error="wrong" data-success="right" for="form34"></label>
                        </div>

                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="form29" class="form-control validate" placeholder="Your Email">
                            <label data-error="wrong" data-success="right" for="form29"></label>
                        </div>

                        <div class="md-form mb-5">
                            <i class="fa fa-map-marker prefix grey-text"></i>
                            <textarea type="text" id="form8" class="md-textarea form-control" placeholder="Your Address"></textarea>
                            <label data-error="wrong" data-success="right" for="form8"></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-pencil prefix grey-text"></i>
                            <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Any comments?"></textarea>
                            <label data-error="wrong" data-success="right" for="form8"></label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-unique">Send
                            <i class="fa fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {{> nav-auto}} {{> body}} {{> footer}}
        <div class="scroll-up">
            <a href="#totop">
                <i class="fa fa-angle-double-up"></i>
            </a>
        </div>
    </main>
    {{> javascripts}}
</body>

</html>